.App {
  text-align: center;
  margin-top: 11px;
}

.Home {
  border: 1px solid red;
}

.Searchbtn {
  display: flex;
  justify-content: space-evenly;
}

/* Pagination */
.pagination {
  width: 83%;
  margin: auto;
  padding-bottom: 3%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid red; */
  list-style: none;
  cursor: pointer;

  overflow: scroll;
  overflow-y: hidden;
  overflow-x: auto;
}

.pagination a {
  padding: 11px;
  /* border-radius: 5px; */
  border: 1px solid #47a7de;
  color: #47a7de;

  display: grid;
  place-content: center;
  /* border: 1px solid red; */
}

.pagination_link {
  font-weight: bold;
}

.pagination_link_active a {
  color: #fff;
  background-color: #47a7de;
}

.pagination_link_disabled a {
  color: rgb(198, 197, 202);
  border: 1px solid rgb(198, 197, 202);
}

@media screen and (max-width: 720px) {
  .pagination_link {
    width: 45px;
    height: 12px;
  }
}
