* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  margin-top: 11px;
  display: grid;
  place-items: center;
}

/* .Home {
  border: 1px solid red;
} */

.Home button {
  margin: 11px;
  padding: 11px;
  cursor: pointer;
}
/* 
.UserDetails {
  border: 1px solid red;
} */

.UserDetails input {
  padding: 3px;
  margin-bottom: 3px;
}

.UserDetails select {
  margin: 7px;
  padding: 3px;
  cursor: pointer;
}

table,
th,
td {
  margin-top: 11px;
  border-collapse: collapse;
  border: 1px solid black;
}

.UserDetails img {
  margin: 11px;
  border-radius: 22px;
}

/* Pagination */
.pagination {
  width: 83%;
  margin: auto;
  padding-bottom: 3%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid red; */
  list-style: none;
  cursor: pointer;

  overflow: scroll;
  overflow-y: hidden;
  overflow-x: auto;
}

.pagination a {
  padding: 11px;
  /* border-radius: 5px; */
  border: 1px solid #47a7de;
  color: #47a7de;

  display: grid;
  place-content: center;
  /* border: 1px solid red; */
}

.pagination_link {
  font-weight: bold;
}

.pagination_link_active a {
  color: #fff;
  background-color: #47a7de;
}

.pagination_link_disabled a {
  color: rgb(198, 197, 202);
  border: 1px solid rgb(198, 197, 202);
}

@media screen and (max-width: 720px) {
  .pagination_link {
    width: 45px;
    height: 12px;
  }
}
